cmake-build-debug/
cmake-build-release/
.idea/
*.o
*.a
*.db
*.sqlite3
sentinel
probe/bin/
probe/cmake-build-debug/
probe/cmake-build-release/
collector/databases
venv/
.venv/
env/
.vscore/
probe/build/
databases/
__pycache__
maintenance_state.json
node_modules
package-lock.json
dashboard/package-lock.json
dashboard/node_modules